{{#extends "base"}}

{{#block "title"}}
Welcome to the new Old Chang Kee website
{{/block}}

{{#block "content"}}
<p>This project seeks to revamp the current Old Chang Kee with a modern look.
</p>
{{/block}}

{{/extends}}